@tailwind base;
@tailwind components;
@tailwind utilities;

/* Style the video: 100% width and height to cover the entire window */

html {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  background-color: #121212;
  
}

/* Apply smooth scrolling to your slider */
.slick-track {
  display: flex;
  align-items: center;
  scroll-behavior: smooth; /* Enable smooth scrolling behavior */
}

/* defines the animation */
@keyframes fadeInUp {
  from { 
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.first {
  opacity: 0; 
  animation: fadeInUp 1s ease-in-out 0s forwards;
  animation-delay: 0.5s;
}

.second {
  opacity: 0; 
  animation: fadeInUp 1s ease-in-out 0s forwards;
  animation-delay: 1s;
}

.third {
  opacity: 0;
  animation: fadeInUp 1s ease-in-out 0s forwards;
  animation-delay: 2s;

}

.fourth {
  opacity: 0;
  animation: fadeInUp 1s ease-in-out 0s forwards;
  animation-delay: 3s;
}
  
.five {
  opacity: 0;
  animation: fadeInUp 1s ease-in-out 0s forwards;
  animation-delay: 4s;
}

/* Ticker.css */
.ticker-container {
  width: 100%;
  overflow: hidden;
}

.ticker {
  white-space: nowrap;
  display: inline-block;
  animation: scroll 0.1s linear infinite;
}